@{
    ViewData["Title"] = "Students";
}
@section forHeader {
    <p>Students</p>
}

@section previous {
    <div class="fixed-previous"><a asp-controller="Home" asp-action="Index">Previous</a></div>
}

@{
    string role = User.FindFirst(x => x.Type == ClaimsIdentity.DefaultRoleClaimType).Value;
}


@model List<MVC_1.Models.Abstract.Student>
<form method="post" asp-action="Information" asp-controller="Classmates">
    <p>
        <select name="id" class="selectpicker" data-width="250px">
            <option value="" disabled selected>Выберите студента</option>
            @foreach (var item in Model)
            {
        <option value="@(item.Id)">
            @if (role == "guest")
            {
                @item.LastName[0] @:. @item.FirstName
            }
            else
            {
                @item.LastName @:  @item.FirstName
            }
        </option>
            }
        </select>
    </p>
    <p>
        <input type="submit" value="Look at" class="btn btn-outline-primary" />
    </p>
</form>

<style>
    .main-page {
        background-image: url(../BackgroundImage/students.png);
        height: calc(100vh - 28.67px );
        background-repeat: no-repeat;
        background-position-y: 70px;
    }
</style>
