@{
    ViewData["Title"] = "Deadline";
}
@section forHeader {
    <p>Deadline</p>
}

@section previous {
    <div class="fixed-previous"><a asp-controller="Home" asp-action="Index">Previous</a></div>
}

@{
    string role = User.FindFirst(x => x.Type == ClaimsIdentity.DefaultRoleClaimType).Value;
}


@model List<DeadLine>

<table border="1" cellpadding="2" cellspacing="2" class="table-hover table-dark">
    <tr>
        <td>Предметы</td>
        <td>Дз</td>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>@item.NameSubject</td>
    <td><a asp-action="Homework" asp-route-id="@item.Id">@item.Homework.LastTime</a></td>
    @if (role == "mainAdmin")
     {        
         <td>
             <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
         </td>
     }
    @if (role == "admin" || role == "mainAdmin")
     {        
         <td>
             <a asp-action="Update" asp-route-id="@item.Id">Update</a>
         </td>
     }
</tr>
    }
</table>

<style>
    .main-page {
        background-image: url(../BackgroundImage/deadline.png);
        height: calc(100vh - 28.67px );
        background-repeat: no-repeat;
        background-position-x: 100px;
    }
    th, td {
        padding: 5px;
    }

</style>
