@{
    ViewData["Title"] = "Schedule";
}
@section forHeader {
<p>Schedule</p>
}

@section previous {
<div class="fixed-previous"><a asp-controller="Home" asp-action="Index">Previous</a></div>
}

@using MVC_1.Models.Data.Schedule

@model PlacesAndTime

@functions {
    Place ReturnPlace(string name)
    {
        Place place = Model.NameLinks.FirstOrDefault(nl => nl.Name == name).Place;
        if (place != null)
            return place;
        throw new Exception("Нету такого предмета");
    }

    Timer ReturnTimer(int id)
    {
        Timer timer = Model.Time.FirstOrDefault(t => t.Id == id);
        if (timer != null)
            return timer;
        throw new Exception("Нету такого времени");
    }
}
@{
    Place place = ReturnPlace("");
    Timer timer = ReturnTimer(1);
}

<table border="1" cellpadding="2" cellspacing="2" class="table-hover table-dark">
    <tr>
        <td rowspan="4">@DaysOfWeek.Monday</td>
        <td>
            @timer.StartHours <sup>@timer.StartMinutes</sup> - @timer.EndHours <sup>@timer.EndMinutes</sup>
        </td>
        <td>
            @{
                place = ReturnPlace("metrologia_lection");
            }
            <a href=@place.Link>@place.NameTeacher</a>
            <p>@place.NameSubject</p>
        </td>
        <td>
            @{
                place = ReturnPlace("math");
            }
            <a href=@place.Link>@place.NameTeacher</a>
            <p>@place.NameSubject</p>
        </td>
    </tr>
    <tr>
        <td>
            @{
                timer = ReturnTimer(1);
            }
            @timer.StartHours <sup>@timer.StartMinutes</sup> - @timer.EndHours <sup>@timer.EndMinutes</sup>
        </td>
        <td colspan=2>
            @{
                place = ReturnPlace("math");
            }
            <a href=@place.Link>@place.NameTeacher</a>
            <p>@place.NameSubject</p>
        </td>
    </tr>
    <tr>
        <td>
            @{
                timer = ReturnTimer(2);
            }

            @timer.StartHours <sup>@timer.StartMinutes</sup> - @timer.EndHours <sup>@timer.EndMinutes</sup>
        </td>
        <td colspan=2>
            @{
                place = ReturnPlace("komb_baza");
            }
            <a href=@place.Link>@place.NameTeacher</a>
            <p>@place.NameSubject</p>
        </td>
    </tr>
    <tr>
        <td>
            @{
                timer = ReturnTimer(3);
            }
            @timer.StartHours <sup>@timer.StartMinutes</sup> - @timer.EndHours <sup>@timer.EndMinutes</sup>
        </td>
        <td>
            @{
                place = ReturnPlace("metrologia_laba");
            }
            <a href=@place.Link>@place.NameTeacher</a>
            <p>@place.NameSubject</p>
        </td>
        <td>
            @{
                place = ReturnPlace("philosophy");
            }
            <a href=@place.Link>@place.NameTeacher</a>
            <p>@place.NameSubject</p>
        </td>
    </tr>
    <tr><td colspan=2><br /></td></tr>


    <tr>
        <td rowspan="4">@DaysOfWeek.Tuesday</td>
        <td>
            @timer.StartHours <sup>@timer.StartMinutes</sup> - @timer.EndHours <sup>@timer.EndMinutes</sup>
        </td>
        <td colspan=2>
            @{
                place = ReturnPlace("philosophy");
            }
            <a href=@place.Link>@place.NameTeacher</a>
            <p>@place.NameSubject</p>
        </td>
    </tr>
    <tr>
        <td>
            @{
                timer = ReturnTimer(1);
            }
            @timer.StartHours <sup>@timer.StartMinutes</sup> - @timer.EndHours <sup>@timer.EndMinutes</sup>
        </td>
        <td colspan=2>
            @{
                place = ReturnPlace("philosophy");
            }
            <a href=@place.Link>@place.NameTeacher</a>
            <p>@place.NameSubject</p>
        </td>
    </tr>
    <tr>
        <td>
            @{
                timer = ReturnTimer(2);
            }

            @timer.StartHours <sup>@timer.StartMinutes</sup> - @timer.EndHours <sup>@timer.EndMinutes</sup>
        </td>
        <td colspan=2>
            @{
                place = ReturnPlace("math");
            }
            <a href=@place.Link>@place.NameTeacher</a>
            <p>@place.NameSubject</p>
        </td>
    </tr>
    <tr>
        <td>
            @{
                timer = ReturnTimer(3);
            }
            @timer.StartHours <sup>@timer.StartMinutes</sup> - @timer.EndHours <sup>@timer.EndMinutes</sup>
        </td>
        <td colspan=2>
            @{
                place = ReturnPlace("metrologia_lection");
            }
            <a href=@place.Link>@place.NameTeacher</a>
            <p>@place.NameSubject</p>
        </td>
    </tr>
    <tr><td colspan=2><br /></td></tr>


    <tr>
        <td rowspan="4">@DaysOfWeek.Wednesday</td>
        <td>
            @timer.StartHours <sup>@timer.StartMinutes</sup> - @timer.EndHours <sup>@timer.EndMinutes</sup>
        </td>
        <td>
            @{
                place = ReturnPlace("otk_seminar");
            }
            <a href=@place.Link>@place.NameTeacher</a>
            <p>@place.NameSubject</p>
        </td>
        <td>
            @{
                place = ReturnPlace("otk_lection");
            }
            <a href=@place.Link>@place.NameTeacher</a>
            <p>@place.NameSubject</p>
        </td>
    </tr>
    <tr>
        <td>
            @{
                timer = ReturnTimer(1);
            }
            @timer.StartHours <sup>@timer.StartMinutes</sup> - @timer.EndHours <sup>@timer.EndMinutes</sup>
        </td>
        <td colspan=2>
            @{
                place = ReturnPlace("otk_seminar");
            }
            <a href=@place.Link>@place.NameTeacher</a>
            <p>@place.NameSubject</p>
        </td>
    </tr>
    <tr>
        <td>
            @{
                timer = ReturnTimer(2);
            }

            @timer.StartHours <sup>@timer.StartMinutes</sup> - @timer.EndHours <sup>@timer.EndMinutes</sup>
        </td>
        <td colspan=2>
            @{
                place = ReturnPlace("otk_lection");
            }
            <a href=@place.Link>@place.NameTeacher</a>
            <p>@place.NameSubject</p>
        </td>
    </tr>
    <tr>
        <td>
            @{
                timer = ReturnTimer(3);
            }
            @timer.StartHours <sup>@timer.StartMinutes</sup> - @timer.EndHours <sup>@timer.EndMinutes</sup>
        </td>
        <td colspan=2>
            @{
                place = ReturnPlace("komb_baza_laba");
            }
            <a href=@place.Link>@place.NameTeacher</a>
            <p>@place.NameSubject</p>
        </td>
    </tr>
    <tr><td colspan=2><br /></td></tr>


    <tr>
        <td rowspan="4">@DaysOfWeek.Thursday</td>
        <td>
            @timer.StartHours <sup>@timer.StartMinutes</sup> - @timer.EndHours <sup>@timer.EndMinutes</sup>
        </td>
        <td colspan=2>
            @{
                place = ReturnPlace("otk_seminar");
            }
            <a href=@place.Link>@place.NameTeacher</a>
            <p>@place.NameSubject</p>
        </td>
    </tr>
    <tr>
        <td>
            @{
                timer = ReturnTimer(1);
            }
            @timer.StartHours <sup>@timer.StartMinutes</sup> - @timer.EndHours <sup>@timer.EndMinutes</sup>
        </td>
        <td colspan=2>
            @{
                place = ReturnPlace("philosophy");
            }
            <a href=@place.Link>@place.NameTeacher</a>
            <p>@place.NameSubject</p>
        </td>
    </tr>
    <tr>
        <td>
            @{
                timer = ReturnTimer(2);
            }

            @timer.StartHours <sup>@timer.StartMinutes</sup> - @timer.EndHours <sup>@timer.EndMinutes</sup>
        </td>
        <td colspan=2>
            @{
                place = ReturnPlace("otk_lection");
            }
            <a href=@place.Link>@place.NameTeacher</a>
            <p>@place.NameSubject</p>
        </td>
    </tr>
    <tr>
        <td>
            @{
                timer = ReturnTimer(3);
            }
            @timer.StartHours <sup>@timer.StartMinutes</sup> - @timer.EndHours <sup>@timer.EndMinutes</sup>
        </td>
        <td colspan=2>
            @{
                place = ReturnPlace("math");
            }
            <a href=@place.Link>@place.NameTeacher</a>
            <p>@place.NameSubject</p>
        </td>
    </tr>
    <tr><td colspan=2><br /></td></tr>


    <tr>
        <td rowspan="4">@DaysOfWeek.Friday</td>
        <td>
            @timer.StartHours <sup>@timer.StartMinutes</sup> - @timer.EndHours <sup>@timer.EndMinutes</sup>
        </td>
        <td colspan=2>
            @{
                place = ReturnPlace("metrologia_laba");
            }
            <a href=@place.Link>@place.NameTeacher</a>
            <p>@place.NameSubject</p>
        </td>
    </tr>
    <tr>
        <td>
            @{
                timer = ReturnTimer(1);
            }
            @timer.StartHours <sup>@timer.StartMinutes</sup> - @timer.EndHours <sup>@timer.EndMinutes</sup>
        </td>
        <td colspan=2>
            @{
                place = ReturnPlace("metrologia_lection");
            }
            <a href=@place.Link>@place.NameTeacher</a>
            <p>@place.NameSubject</p>
        </td>
    </tr>
    <tr>
        <td>
            @{
                timer = ReturnTimer(2);
            }

            @timer.StartHours <sup>@timer.StartMinutes</sup> - @timer.EndHours <sup>@timer.EndMinutes</sup>
        </td>
        <td colspan=2>
            @{
                place = ReturnPlace("math");
            }
            <a href=@place.Link>@place.NameTeacher</a>
            <p>@place.NameSubject</p>
        </td>
    </tr>
    <tr>
        <td>
            @{
                timer = ReturnTimer(3);
            }
            @timer.StartHours <sup>@timer.StartMinutes</sup> - @timer.EndHours <sup>@timer.EndMinutes</sup>
        </td>
        <td colspan=2>
            @{
                place = ReturnPlace("otk_seminar");
            }
            <a href=@place.Link>@place.NameTeacher</a>
            <p>@place.NameSubject</p>
        </td>
    </tr>
</table>



<br />

<style>
    .main-page {
        background-image: url(../BackgroundImage/schedule.png);
        height: /*calc(100vh - 28.67px )*/ 100%;
        background-repeat: repeat-y;
        background-position-x: /*800*/ 150px;
    }

</style>

