@{
    ViewData["Title"] = "Rating";
}
@section forHeader {
    <p>Rating</p>
}

@section previous {
    <div class="fixed-previous"><a asp-controller="Home" asp-action="Index">Previous</a></div>
}
@using MVC_1.Models.Abstract
@using MVC_1.Models.Data
@using MVC_1.Controllers

@{
    string role = User.FindFirst(x => x.Type == ClaimsIdentity.DefaultRoleClaimType).Value;
}

@model StudentsAndPage

<table border="1" cellpadding="2" cellspacing="2" class="table-hover table-dark">
    <thead>
        <tr>
            <td></td>
            <td>Матеша</td>
            <td colspan="3">ОТК</td>
            <td>Философия</td>
            <td colspan="2">Комп ьаза</td>
            <td colspan="3">Метрология</td>
        </tr>
        <tr>
            <td></td>
            <td>Cр</td>
            <td>Дз</td>
            <td>Кр</td>
            <td>Лаьы</td>
            <td>Семинар</td>
            <td>Кр</td>
            <td>Лаьы</td>
            <td>Дз</td>
            <td>Кр</td>
            <td>Лаьы</td>
        </tr>

    </thead>
    <tbody>
        @foreach (Student item in Model.Students)
        {
            <tr>
                <td>
                    <a asp-controller="Classmates" asp-action="Information" asp-route-id="@(item.Id)">
                        @if (role == "guest")
                        {
                            @item.LastName[0] @:. @item.FirstName
                        }
                        else
                        {
                            @item.LastName @:  @item.FirstName
                        }
                    </a>
                </td>
                <td>@item.HighMath.SR</td>
                <td>@item.OTK.DZ</td>
                <td>@item.OTK.KR</td>
                <td>@item.OTK.Laba</td>
                <td>@item.Philosophy.Seminar</td>
                <td>@item.KompBaza.KR</td>
                <td>@item.KompBaza.Laba</td>
                <td>@item.Metrologia.DZ</td>
                <td>@item.Metrologia.KR</td>
                <td>@item.Metrologia.Laba</td>
                @if (role == "mainAdmin")
                { 
                    <td>
                        <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
                    </td>
                }
                @if (role == "admin" || role == "mainAdmin")
                { 
                    <td>
                        <a asp-action="Update" asp-route-id="@item.Id">Изменить</a>
                    </td>
                }
            </tr>
        }

    </tbody>
</table>
<ul class="pagination">
    @for (int i = 1; i < Model.Page.PageNumber; i++)
    {
        <li class="btn btn-outline-primary"><a asp-route-page="@i">@i</a></li>
    }

    <li class="btn btn-outline-dark"><a>@Model.Page.PageNumber</a></li>

    @for (int i = Model.Page.PageNumber + 1; i <= Model.Page.TotalPage; i++)
    {
        <li class="btn btn-outline-info"><a asp-route-page="@i">@i</a></li>
    }
</ul>
<style>
    .main-page {
        background-image: url(../BackgroundImage/rating.png);
        height: calc(100vh - 28.67px );
        background-repeat: no-repeat;
        background-position-y: 150px;
    }
    th, td {
        padding: 2px;
    }

</style>
